USE [master]
GO
/****** Object:  Database [Inventories]    Script Date: 10/06/2022 6:00:38 pm ******/
CREATE DATABASE [Inventories]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Inventories', FILENAME = N'C:\Eazisols\Data\Inventories.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Inventories_log', FILENAME = N'C:\Eazisols\Data\Inventories_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Inventories].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Inventories]
GO
/****** Object:  UserDefinedFunction [dbo].[ItemSumCal]    Script Date: 10/06/2022 6:00:38 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


create function [dbo].[ItemSumCal]  
(  
   @Id INT 
)  
returns int 
as  
begin return(select sum(ItemNetQuantity) as TQty from(

select I.ItemId as ItemId, Cat.Name as CategoryName,I.Name as ItemName,CII.ItemNetQuantity as ItemNetQuantity from tblCheckin as CI 
inner join tblCheckinItem as CII on CI.CheckinId=CII.CheckinId inner join tblItem as I on CII.ItemId= I.ItemId 
inner join tblCategory as Cat on I.CategoryId=Cat.CategoryId  where I.ItemId=@Id

union

select I.ItemId as ItemId, Cat.Name as CategoryName,I.Name as ItemName,TI.ItemNetQuantity as ItemNetQuantity from tblTransfer as T 
inner join tblTransferItem as TI on T.TransferId=TI.TransferId inner join tblItem as I on TI.ItemId= I.ItemId 
inner join tblCategory as Cat on I.CategoryId=Cat.CategoryId  where I.ItemId=@Id

union

select I.ItemId as ItemId, Cat.Name as CategoryName,I.Name as ItemName,AI.ItemNetQuantity as ItemNetQuantity from tblAdjustment as A 
inner join tblAdjustmentItem as AI on A.AdjustmentId=AI.AdjustmentId inner join tblItem as I on AI.ItemId= I.ItemId 
inner join tblCategory as Cat on I.CategoryId=Cat.CategoryId  where I.ItemId=@Id
) as Z group by ItemId,CategoryName,ItemName)  
end  
GO
/****** Object:  Table [dbo].[tblAccessLevel]    Script Date: 10/06/2022 6:00:38 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblAccessLevel](
	[AccessId] [int] IDENTITY(1,1) NOT NULL,
	[EditAccess] [bit] NULL,
	[DeleteAccess] [bit] NULL,
	[CreateAccess] [bit] NULL,
	[MenuId] [int] NULL,
	[RoleId] [int] NULL,
	[CreatedBy] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[EditBy] [int] NULL,
	[EditDate] [datetime] NULL,
	[DeletedBy] [int] NULL,
	[DeletedDate] [datetime] NULL,
	[isActive] [bit] NULL,
 CONSTRAINT [PK__tblAcces__4130D05FDB13929B] PRIMARY KEY CLUSTERED 
(
	[AccessId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblAdjustment]    Script Date: 10/06/2022 6:00:38 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblAdjustment](
	[AdjustmentId] [int] IDENTITY(1,1) NOT NULL,
	[AdjustmentNumber] [nvarchar](max) NULL,
	[AdjustmentDate] [date] NOT NULL,
	[Reference] [nvarchar](max) NULL,
	[Type] [nvarchar](max) NULL,
	[Warehouse] [int] NULL,
	[Attachment] [nvarchar](max) NULL,
	[Details] [nvarchar](max) NULL,
	[draft] [bit] NULL,
	[CreatedBy] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[EditBy] [int] NULL,
	[EditDate] [datetime] NULL,
	[isActive] [bit] NULL,
 CONSTRAINT [PK__tblAdjus__E60DB893F12CF73A] PRIMARY KEY CLUSTERED 
(
	[AdjustmentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblAdjustmentItem]    Script Date: 10/06/2022 6:00:38 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblAdjustmentItem](
	[AdjustmentItemId] [int] IDENTITY(1,1) NOT NULL,
	[AdjustmentId] [int] NULL,
	[ItemId] [int] NULL,
	[ItemWeight] [int] NULL,
	[ItemQuantity] [int] NULL,
	[ItemUnit] [nvarchar](max) NULL,
	[CreatedBy] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[EditBy] [int] NULL,
	[EditDate] [datetime] NULL,
	[isActive] [bit] NULL,
	[ItemUsedQuantity] [int] NULL,
	[ItemNetQuantity] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[AdjustmentItemId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblAlertQty]    Script Date: 10/06/2022 6:00:38 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblAlertQty](
	[AlertQtyId] [int] IDENTITY(1,1) NOT NULL,
	[ItemId] [int] NULL,
	[Notify] [bit] NULL,
	[NotifyDate] [datetime] NULL,
 CONSTRAINT [PK_tblAlertQty] PRIMARY KEY CLUSTERED 
(
	[AlertQtyId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblCategory]    Script Date: 10/06/2022 6:00:38 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblCategory](
	[CategoryId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Code] [nvarchar](max) NULL,
	[CreatedBy] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[EditBy] [int] NULL,
	[EditDate] [datetime] NULL,
	[isActive] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[CategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblCheckin]    Script Date: 10/06/2022 6:00:38 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblCheckin](
	[CheckinId] [int] IDENTITY(1,1) NOT NULL,
	[CheckinNumber] [nvarchar](max) NULL,
	[CheckinDate] [date] NOT NULL,
	[Reference] [nvarchar](max) NULL,
	[Contact] [int] NULL,
	[Warehouse] [int] NULL,
	[Attachment] [nvarchar](max) NULL,
	[Details] [nvarchar](max) NULL,
	[draft] [bit] NULL,
	[CreatedBy] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[EditBy] [int] NULL,
	[EditDate] [datetime] NULL,
	[isActive] [bit] NULL,
 CONSTRAINT [PK__tblCheck__F3C85D71DD0F3637] PRIMARY KEY CLUSTERED 
(
	[CheckinId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblCheckinItem]    Script Date: 10/06/2022 6:00:38 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblCheckinItem](
	[CheckinItemId] [int] IDENTITY(1,1) NOT NULL,
	[CheckinId] [int] NULL,
	[ItemId] [int] NULL,
	[ItemWeight] [int] NULL,
	[ItemQuantity] [int] NULL,
	[ItemUnit] [nvarchar](max) NULL,
	[CreatedBy] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[EditBy] [int] NULL,
	[EditDate] [datetime] NULL,
	[isActive] [bit] NULL,
	[ItemUsedQuantity] [int] NULL,
	[ItemNetQuantity] [int] NULL,
 CONSTRAINT [PK__tblCheck__1DA97B26CFA31501] PRIMARY KEY CLUSTERED 
(
	[CheckinItemId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblCheckout]    Script Date: 10/06/2022 6:00:38 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblCheckout](
	[CheckoutId] [int] IDENTITY(1,1) NOT NULL,
	[CheckoutNumber] [nvarchar](max) NULL,
	[CheckoutDate] [date] NOT NULL,
	[Reference] [nvarchar](max) NULL,
	[Contact] [int] NULL,
	[Warehouse] [int] NULL,
	[Attachment] [nvarchar](max) NULL,
	[Details] [nvarchar](max) NULL,
	[draft] [bit] NULL,
	[CreatedBy] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[EditBy] [int] NULL,
	[EditDate] [datetime] NULL,
	[isActive] [bit] NULL,
 CONSTRAINT [PK__tblCheck__E07EF5FCF2A309B8] PRIMARY KEY CLUSTERED 
(
	[CheckoutId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblCheckoutItem]    Script Date: 10/06/2022 6:00:38 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblCheckoutItem](
	[CheckoutItemId] [int] IDENTITY(1,1) NOT NULL,
	[CheckoutId] [int] NULL,
	[ItemId] [int] NULL,
	[ItemWeight] [int] NULL,
	[ItemQuantity] [int] NULL,
	[ItemUnit] [nvarchar](max) NULL,
	[CreatedBy] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[EditBy] [int] NULL,
	[EditDate] [datetime] NULL,
	[isActive] [bit] NULL,
	[CheckinItemId] [int] NULL,
	[VNumber] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[CheckoutItemId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblContact]    Script Date: 10/06/2022 6:00:38 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblContact](
	[ContactId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Email] [nvarchar](max) NULL,
	[Phone] [nvarchar](max) NULL,
	[Details] [nvarchar](max) NULL,
	[ContactType] [nvarchar](max) NULL,
	[CreatedBy] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[EditBy] [int] NULL,
	[EditDate] [datetime] NULL,
	[isActive] [bit] NULL,
 CONSTRAINT [PK__tblConta__5C66259B4C8D5820] PRIMARY KEY CLUSTERED 
(
	[ContactId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblEmailSetting]    Script Date: 10/06/2022 6:00:38 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblEmailSetting](
	[EmailSettingId] [int] IDENTITY(1,1) NOT NULL,
	[Email] [nvarchar](max) NULL,
	[Password] [nvarchar](max) NULL,
	[SMTP] [nvarchar](max) NULL,
	[Port] [nvarchar](max) NULL,
	[isActive] [bit] NULL,
	[EditBy] [int] NULL,
	[EditDate] [datetime] NULL,
 CONSTRAINT [PK_tblEmailSetting] PRIMARY KEY CLUSTERED 
(
	[EmailSettingId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblItem]    Script Date: 10/06/2022 6:00:38 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblItem](
	[ItemId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Code] [nvarchar](max) NULL,
	[CategoryId] [int] NULL,
	[Unit] [nvarchar](max) NULL,
	[BarcodeSymbology] [nvarchar](max) NULL,
	[RackLocation] [nvarchar](max) NULL,
	[SKU] [nvarchar](max) NULL,
	[Details] [nvarchar](max) NULL,
	[Alertonlowstock] [int] NULL,
	[TrackQuantity] [bit] NULL,
	[CreatedBy] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[EditBy] [int] NULL,
	[EditDate] [datetime] NULL,
	[isActive] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[ItemId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblMenu]    Script Date: 10/06/2022 6:00:38 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblMenu](
	[MenuId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NULL,
	[NameES] [nvarchar](max) NULL,
	[ControllerName] [nvarchar](50) NULL,
	[ActionName] [nvarchar](50) NULL,
	[isParent] [bit] NULL,
	[ParentId] [int] NULL,
	[FontAwesome] [nvarchar](50) NULL,
	[CreatedBy] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[EditBy] [int] NULL,
	[EditDate] [datetime] NULL,
	[DeletedBy] [int] NULL,
	[DeletedDate] [datetime] NULL,
	[isActive] [bit] NULL,
	[ElementId] [nvarchar](max) NULL,
 CONSTRAINT [PK__tblMenu__C99ED23030211200] PRIMARY KEY CLUSTERED 
(
	[MenuId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblRole]    Script Date: 10/06/2022 6:00:38 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblRole](
	[RoleId] [int] IDENTITY(1,1) NOT NULL,
	[Role] [nvarchar](max) NULL,
	[CreatedBy] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[EditBy] [int] NULL,
	[EditDate] [datetime] NULL,
	[isActive] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblSetting]    Script Date: 10/06/2022 6:00:38 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblSetting](
	[SettingId] [int] IDENTITY(1,1) NOT NULL,
	[Logo] [image] NULL,
	[Name] [nvarchar](max) NULL,
	[Color] [nvarchar](max) NULL,
	[HoverColor] [nvarchar](max) NULL,
	[CreatedBy] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[EditBy] [int] NULL,
	[EditDate] [datetime] NULL,
 CONSTRAINT [PK_tblSetting] PRIMARY KEY CLUSTERED 
(
	[SettingId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblTempPath]    Script Date: 10/06/2022 6:00:38 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblTempPath](
	[TempPathId] [int] IDENTITY(1,1) NOT NULL,
	[TNumber] [nvarchar](max) NULL,
	[CINumber] [nvarchar](max) NULL,
	[CONumber] [nvarchar](max) NULL,
	[ANumber] [nvarchar](max) NULL,
	[Path] [nvarchar](max) NULL,
	[UserId] [int] NULL,
	[CreatedBy] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[EditBy] [int] NULL,
	[EditDate] [datetime] NULL,
	[isActive] [bit] NULL,
 CONSTRAINT [PK__tblTempP__247BD9CB2A662F66] PRIMARY KEY CLUSTERED 
(
	[TempPathId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblTransfer]    Script Date: 10/06/2022 6:00:38 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblTransfer](
	[TransferId] [int] IDENTITY(1,1) NOT NULL,
	[TransferNumber] [nvarchar](max) NULL,
	[TransferDate] [date] NOT NULL,
	[Reference] [nvarchar](max) NULL,
	[FromWarehouse] [int] NULL,
	[ToWarehouse] [int] NULL,
	[Attachment] [nvarchar](max) NULL,
	[Details] [nvarchar](max) NULL,
	[draft] [bit] NULL,
	[CreatedBy] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[EditBy] [int] NULL,
	[EditDate] [datetime] NULL,
	[isActive] [bit] NULL,
 CONSTRAINT [PK__tblTrans__95490091EA4CB563] PRIMARY KEY CLUSTERED 
(
	[TransferId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblTransferItem]    Script Date: 10/06/2022 6:00:38 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblTransferItem](
	[TransferItemId] [int] IDENTITY(1,1) NOT NULL,
	[TransferId] [int] NULL,
	[ItemId] [int] NULL,
	[ItemWeight] [int] NULL,
	[ItemQuantity] [int] NULL,
	[ItemUnit] [nvarchar](max) NULL,
	[CreatedBy] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[EditBy] [int] NULL,
	[EditDate] [datetime] NULL,
	[isActive] [bit] NULL,
	[CheckinItemId] [int] NULL,
	[ItemUsedQuantity] [int] NULL,
	[ItemNetQuantity] [int] NULL,
	[VNumber] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[TransferItemId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblUnit]    Script Date: 10/06/2022 6:00:38 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblUnit](
	[UnitId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Code] [nvarchar](max) NULL,
	[BaseUnit] [nvarchar](max) NULL,
	[Operator] [nvarchar](max) NULL,
	[OperationValue] [float] NULL,
	[Formula] [nvarchar](max) NULL,
	[CreatedBy] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[EditBy] [int] NULL,
	[EditDate] [datetime] NULL,
	[isActive] [bit] NULL,
 CONSTRAINT [PK__tblUnit__44F5ECB54B2FDB44] PRIMARY KEY CLUSTERED 
(
	[UnitId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblUser]    Script Date: 10/06/2022 6:00:38 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblUser](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Username] [nvarchar](max) NULL,
	[Password] [nvarchar](max) NULL,
	[Email] [nvarchar](max) NULL,
	[Warehouse] [int] NULL,
	[Phone] [nvarchar](max) NULL,
	[RoleId] [int] NULL,
	[CreatedBy] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[EditBy] [int] NULL,
	[EditDate] [datetime] NULL,
	[isActive] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblUserWarehouse]    Script Date: 10/06/2022 6:00:38 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblUserWarehouse](
	[UserWarehouseId] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [int] NULL,
	[WarehouseId] [int] NULL,
 CONSTRAINT [PK_tblUserWarehouse] PRIMARY KEY CLUSTERED 
(
	[UserWarehouseId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tblWarehouse]    Script Date: 10/06/2022 6:00:38 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblWarehouse](
	[WarehouseId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Code] [nvarchar](max) NULL,
	[Phone] [nvarchar](max) NULL,
	[Email] [nvarchar](max) NULL,
	[Logo] [nvarchar](max) NULL,
	[Address] [nvarchar](max) NULL,
	[CreatedBy] [int] NULL,
	[CreatedDate] [datetime] NULL,
	[EditBy] [int] NULL,
	[EditDate] [datetime] NULL,
	[isActive] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[WarehouseId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[tblAccessLevel] ON 

INSERT [dbo].[tblAccessLevel] ([AccessId], [EditAccess], [DeleteAccess], [CreateAccess], [MenuId], [RoleId], [CreatedBy], [CreatedDate], [EditBy], [EditDate], [DeletedBy], [DeletedDate], [isActive]) VALUES (462, 0, 0, 0, 2, 1, 1, CAST(N'2022-06-02T19:22:14.853' AS DateTime), 1, CAST(N'2022-06-02T19:22:14.853' AS DateTime), NULL, NULL, 1)
INSERT [dbo].[tblAccessLevel] ([AccessId], [EditAccess], [DeleteAccess], [CreateAccess], [MenuId], [RoleId], [CreatedBy], [CreatedDate], [EditBy], [EditDate], [DeletedBy], [DeletedDate], [isActive]) VALUES (463, 0, 0, 0, 3, 1, 1, CAST(N'2022-06-02T19:22:14.867' AS DateTime), 1, CAST(N'2022-06-02T19:22:14.867' AS DateTime), NULL, NULL, 1)
INSERT [dbo].[tblAccessLevel] ([AccessId], [EditAccess], [DeleteAccess], [CreateAccess], [MenuId], [RoleId], [CreatedBy], [CreatedDate], [EditBy], [EditDate], [DeletedBy], [DeletedDate], [isActive]) VALUES (464, 1, 1, 1, 4, 1, 1, CAST(N'2022-06-02T19:22:14.867' AS DateTime), 1, CAST(N'2022-06-02T19:22:14.867' AS DateTime), NULL, NULL, 1)
SET IDENTITY_INSERT [dbo].[tblAccessLevel] OFF
GO
SET IDENTITY_INSERT [dbo].[tblAdjustment] ON 

INSERT [dbo].[tblAdjustment] ([AdjustmentId], [AdjustmentNumber], [AdjustmentDate], [Reference], [Type], [Warehouse], [Attachment], [Details], [draft], [CreatedBy], [CreatedDate], [EditBy], [EditDate], [isActive]) VALUES (1, N'A-001', CAST(N'2022-05-25' AS Date), N'Ref', N'Damage', 1, N'\Uploading\Tracking XML Developer Guide.pdf', N'Details', 0, 1, CAST(N'2022-05-25T14:18:41.377' AS DateTime), 1, CAST(N'2022-05-25T14:18:41.377' AS DateTime), NULL)
INSERT [dbo].[tblAdjustment] ([AdjustmentId], [AdjustmentNumber], [AdjustmentDate], [Reference], [Type], [Warehouse], [Attachment], [Details], [draft], [CreatedBy], [CreatedDate], [EditBy], [EditDate], [isActive]) VALUES (3, N'A-002', CAST(N'2022-06-01' AS Date), N'A-Ref', N'Addition', 1, NULL, N'Details', NULL, 1, CAST(N'2022-06-01T15:13:34.017' AS DateTime), NULL, NULL, NULL)
INSERT [dbo].[tblAdjustment] ([AdjustmentId], [AdjustmentNumber], [AdjustmentDate], [Reference], [Type], [Warehouse], [Attachment], [Details], [draft], [CreatedBy], [CreatedDate], [EditBy], [EditDate], [isActive]) VALUES (4, N'A-004', CAST(N'2022-06-01' AS Date), N'Ref', N'Addition', 3, NULL, N'Details', NULL, 1, CAST(N'2022-06-01T15:36:49.190' AS DateTime), NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[tblAdjustment] OFF
GO
SET IDENTITY_INSERT [dbo].[tblAdjustmentItem] ON 

INSERT [dbo].[tblAdjustmentItem] ([AdjustmentItemId], [AdjustmentId], [ItemId], [ItemWeight], [ItemQuantity], [ItemUnit], [CreatedBy], [CreatedDate], [EditBy], [EditDate], [isActive], [ItemUsedQuantity], [ItemNetQuantity]) VALUES (3, 1, 1, 1, 1, N'Dozen', 1, CAST(N'2022-05-25T14:18:41.393' AS DateTime), NULL, NULL, NULL, 0, 1)
INSERT [dbo].[tblAdjustmentItem] ([AdjustmentItemId], [AdjustmentId], [ItemId], [ItemWeight], [ItemQuantity], [ItemUnit], [CreatedBy], [CreatedDate], [EditBy], [EditDate], [isActive], [ItemUsedQuantity], [ItemNetQuantity]) VALUES (5, 3, 1, 1, 6, N'Piece', 1, CAST(N'2022-06-01T15:13:34.040' AS DateTime), NULL, NULL, NULL, 0, 6)
INSERT [dbo].[tblAdjustmentItem] ([AdjustmentItemId], [AdjustmentId], [ItemId], [ItemWeight], [ItemQuantity], [ItemUnit], [CreatedBy], [CreatedDate], [EditBy], [EditDate], [isActive], [ItemUsedQuantity], [ItemNetQuantity]) VALUES (6, 4, 1, 1, 10, N'Piece', 1, CAST(N'2022-06-01T15:36:49.243' AS DateTime), NULL, NULL, NULL, 0, 10)
SET IDENTITY_INSERT [dbo].[tblAdjustmentItem] OFF
GO
SET IDENTITY_INSERT [dbo].[tblAlertQty] ON 

INSERT [dbo].[tblAlertQty] ([AlertQtyId], [ItemId], [Notify], [NotifyDate]) VALUES (1, 3, 1, CAST(N'2022-06-10T16:32:44.620' AS DateTime))
SET IDENTITY_INSERT [dbo].[tblAlertQty] OFF
GO
SET IDENTITY_INSERT [dbo].[tblCategory] ON 

INSERT [dbo].[tblCategory] ([CategoryId], [Name], [Code], [CreatedBy], [CreatedDate], [EditBy], [EditDate], [isActive]) VALUES (1, N'A', N'100', 1, CAST(N'2022-05-20T00:00:00.000' AS DateTime), 1, CAST(N'2022-05-20T00:00:00.000' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[tblCategory] OFF
GO
SET IDENTITY_INSERT [dbo].[tblCheckin] ON 

INSERT [dbo].[tblCheckin] ([CheckinId], [CheckinNumber], [CheckinDate], [Reference], [Contact], [Warehouse], [Attachment], [Details], [draft], [CreatedBy], [CreatedDate], [EditBy], [EditDate], [isActive]) VALUES (3, N'CI-002', CAST(N'2022-05-27' AS Date), N'Ref', 1, 1, NULL, NULL, 0, 1, CAST(N'2022-05-27T17:07:54.970' AS DateTime), NULL, NULL, NULL)
INSERT [dbo].[tblCheckin] ([CheckinId], [CheckinNumber], [CheckinDate], [Reference], [Contact], [Warehouse], [Attachment], [Details], [draft], [CreatedBy], [CreatedDate], [EditBy], [EditDate], [isActive]) VALUES (4, N'CI-004', CAST(N'2022-05-27' AS Date), N'Ref', 1, 1, NULL, NULL, 0, 1, CAST(N'2022-05-27T18:15:33.817' AS DateTime), NULL, NULL, NULL)
INSERT [dbo].[tblCheckin] ([CheckinId], [CheckinNumber], [CheckinDate], [Reference], [Contact], [Warehouse], [Attachment], [Details], [draft], [CreatedBy], [CreatedDate], [EditBy], [EditDate], [isActive]) VALUES (5, N'CI-005', CAST(N'2022-06-01' AS Date), N'CI-Ref', 1, 3, NULL, N'Deteils', 0, 1, CAST(N'2022-06-01T15:11:27.997' AS DateTime), NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[tblCheckin] OFF
GO
SET IDENTITY_INSERT [dbo].[tblCheckinItem] ON 

INSERT [dbo].[tblCheckinItem] ([CheckinItemId], [CheckinId], [ItemId], [ItemWeight], [ItemQuantity], [ItemUnit], [CreatedBy], [CreatedDate], [EditBy], [EditDate], [isActive], [ItemUsedQuantity], [ItemNetQuantity]) VALUES (3, 3, 1, 1, 10, N'Piece', 1, CAST(N'2022-05-27T17:07:55.027' AS DateTime), NULL, NULL, NULL, 6, 4)
INSERT [dbo].[tblCheckinItem] ([CheckinItemId], [CheckinId], [ItemId], [ItemWeight], [ItemQuantity], [ItemUnit], [CreatedBy], [CreatedDate], [EditBy], [EditDate], [isActive], [ItemUsedQuantity], [ItemNetQuantity]) VALUES (4, 4, 1, 1, 15, N'Piece', 1, CAST(N'2022-05-27T18:15:33.830' AS DateTime), NULL, NULL, NULL, 10, 5)
INSERT [dbo].[tblCheckinItem] ([CheckinItemId], [CheckinId], [ItemId], [ItemWeight], [ItemQuantity], [ItemUnit], [CreatedBy], [CreatedDate], [EditBy], [EditDate], [isActive], [ItemUsedQuantity], [ItemNetQuantity]) VALUES (5, 5, 1, 1, 10, N'Piece', 1, CAST(N'2022-06-01T15:11:28.073' AS DateTime), NULL, NULL, NULL, 10, 0)
SET IDENTITY_INSERT [dbo].[tblCheckinItem] OFF
GO
SET IDENTITY_INSERT [dbo].[tblCheckout] ON 

INSERT [dbo].[tblCheckout] ([CheckoutId], [CheckoutNumber], [CheckoutDate], [Reference], [Contact], [Warehouse], [Attachment], [Details], [draft], [CreatedBy], [CreatedDate], [EditBy], [EditDate], [isActive]) VALUES (1, N'CO-001', CAST(N'2022-05-25' AS Date), N'Ref', 1, 1, N'\Uploading\Tracking RESTful Developer Guide.pdf', N'Details', 0, 1, CAST(N'2022-05-25T13:05:40.043' AS DateTime), 1, CAST(N'2022-05-25T13:05:40.043' AS DateTime), NULL)
INSERT [dbo].[tblCheckout] ([CheckoutId], [CheckoutNumber], [CheckoutDate], [Reference], [Contact], [Warehouse], [Attachment], [Details], [draft], [CreatedBy], [CreatedDate], [EditBy], [EditDate], [isActive]) VALUES (5, N'CO-002', CAST(N'2022-05-27' AS Date), N'Ref', 1, 1, NULL, NULL, 0, 1, CAST(N'2022-05-30T15:05:29.800' AS DateTime), 1, CAST(N'2022-05-30T15:05:30.113' AS DateTime), NULL)
INSERT [dbo].[tblCheckout] ([CheckoutId], [CheckoutNumber], [CheckoutDate], [Reference], [Contact], [Warehouse], [Attachment], [Details], [draft], [CreatedBy], [CreatedDate], [EditBy], [EditDate], [isActive]) VALUES (9, N'CO-006', CAST(N'2022-05-30' AS Date), N'Ref', 1, 1, NULL, N'Det', 0, 1, CAST(N'2022-05-30T19:51:36.783' AS DateTime), 1, CAST(N'2022-05-30T19:51:36.783' AS DateTime), NULL)
SET IDENTITY_INSERT [dbo].[tblCheckout] OFF
GO
SET IDENTITY_INSERT [dbo].[tblCheckoutItem] ON 

INSERT [dbo].[tblCheckoutItem] ([CheckoutItemId], [CheckoutId], [ItemId], [ItemWeight], [ItemQuantity], [ItemUnit], [CreatedBy], [CreatedDate], [EditBy], [EditDate], [isActive], [CheckinItemId], [VNumber]) VALUES (3, 1, 1, 1, 1, N'Dozen', 1, CAST(N'2022-05-25T13:05:40.070' AS DateTime), NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[tblCheckoutItem] ([CheckoutItemId], [CheckoutId], [ItemId], [ItemWeight], [ItemQuantity], [ItemUnit], [CreatedBy], [CreatedDate], [EditBy], [EditDate], [isActive], [CheckinItemId], [VNumber]) VALUES (4, 1, 1, 1, 1, N'Piece', 1, CAST(N'2022-05-25T13:05:40.070' AS DateTime), NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[tblCheckoutItem] ([CheckoutItemId], [CheckoutId], [ItemId], [ItemWeight], [ItemQuantity], [ItemUnit], [CreatedBy], [CreatedDate], [EditBy], [EditDate], [isActive], [CheckinItemId], [VNumber]) VALUES (10, 5, 1, NULL, 2, NULL, 1, CAST(N'2022-05-30T15:05:58.650' AS DateTime), NULL, NULL, NULL, 3, N'C')
SET IDENTITY_INSERT [dbo].[tblCheckoutItem] OFF
GO
SET IDENTITY_INSERT [dbo].[tblContact] ON 

INSERT [dbo].[tblContact] ([ContactId], [Name], [Email], [Phone], [Details], [ContactType], [CreatedBy], [CreatedDate], [EditBy], [EditDate], [isActive]) VALUES (1, N'Asad', N'asad@gmail.com', N'03210000000', N'Contact Info', NULL, 1, CAST(N'2022-05-20T00:00:00.000' AS DateTime), 1, CAST(N'2022-05-20T00:00:00.000' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[tblContact] OFF
GO
SET IDENTITY_INSERT [dbo].[tblEmailSetting] ON 

INSERT [dbo].[tblEmailSetting] ([EmailSettingId], [Email], [Password], [SMTP], [Port], [isActive], [EditBy], [EditDate]) VALUES (1, N'restock06@gmail.com', N'Developer@123', N'smtp.gmail.com', N'587', 1, NULL, NULL)
SET IDENTITY_INSERT [dbo].[tblEmailSetting] OFF
GO
SET IDENTITY_INSERT [dbo].[tblItem] ON 

INSERT [dbo].[tblItem] ([ItemId], [Name], [Code], [CategoryId], [Unit], [BarcodeSymbology], [RackLocation], [SKU], [Details], [Alertonlowstock], [TrackQuantity], [CreatedBy], [CreatedDate], [EditBy], [EditDate], [isActive]) VALUES (1, N'Chair', N'100', 1, N'Kilogram', N'CODE128', N'Left', NULL, N'Good', 5, 1, 1, CAST(N'2022-05-23T00:00:00.000' AS DateTime), 1, CAST(N'2022-05-23T00:00:00.000' AS DateTime), NULL)
INSERT [dbo].[tblItem] ([ItemId], [Name], [Code], [CategoryId], [Unit], [BarcodeSymbology], [RackLocation], [SKU], [Details], [Alertonlowstock], [TrackQuantity], [CreatedBy], [CreatedDate], [EditBy], [EditDate], [isActive]) VALUES (3, N'Table', N'1001', 1, N'Kilogram', N'EAN-13', N'Left', NULL, N'details', 9, 1, 1, CAST(N'2022-06-01T00:00:00.000' AS DateTime), 1, CAST(N'2022-06-01T00:00:00.000' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[tblItem] OFF
GO
SET IDENTITY_INSERT [dbo].[tblMenu] ON 

INSERT [dbo].[tblMenu] ([MenuId], [Name], [NameES], [ControllerName], [ActionName], [isParent], [ParentId], [FontAwesome], [CreatedBy], [CreatedDate], [EditBy], [EditDate], [DeletedBy], [DeletedDate], [isActive], [ElementId]) VALUES (2, N'Dashboard', N'Tablero', N'Home', N'Index', 0, 0, N'fe fe-home', NULL, NULL, NULL, NULL, NULL, NULL, 1, N'Dashboard')
INSERT [dbo].[tblMenu] ([MenuId], [Name], [NameES], [ControllerName], [ActionName], [isParent], [ParentId], [FontAwesome], [CreatedBy], [CreatedDate], [EditBy], [EditDate], [DeletedBy], [DeletedDate], [isActive], [ElementId]) VALUES (3, N'User Management', N'Gestión de usuarios
', N'User', N'', 1, 0, N'fa fa-users', NULL, NULL, NULL, NULL, NULL, NULL, 1, N'UM')
INSERT [dbo].[tblMenu] ([MenuId], [Name], [NameES], [ControllerName], [ActionName], [isParent], [ParentId], [FontAwesome], [CreatedBy], [CreatedDate], [EditBy], [EditDate], [DeletedBy], [DeletedDate], [isActive], [ElementId]) VALUES (4, N'Users', N'Usuarios', N'User', N'Users', 0, 3, N'fa fa-user', NULL, NULL, NULL, NULL, NULL, NULL, 1, N'Users')
SET IDENTITY_INSERT [dbo].[tblMenu] OFF
GO
SET IDENTITY_INSERT [dbo].[tblRole] ON 

INSERT [dbo].[tblRole] ([RoleId], [Role], [CreatedBy], [CreatedDate], [EditBy], [EditDate], [isActive]) VALUES (1, N'Admin', 1, CAST(N'2022-05-19T00:00:00.000' AS DateTime), 1, CAST(N'2022-05-19T00:00:00.000' AS DateTime), 1)
INSERT [dbo].[tblRole] ([RoleId], [Role], [CreatedBy], [CreatedDate], [EditBy], [EditDate], [isActive]) VALUES (2, N'Employee', 1, CAST(N'2022-06-01T00:00:00.000' AS DateTime), 1, CAST(N'2022-06-01T00:00:00.000' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[tblRole] OFF
GO
SET IDENTITY_INSERT [dbo].[tblSetting] ON 

SET IDENTITY_INSERT [dbo].[tblSetting] OFF
GO
SET IDENTITY_INSERT [dbo].[tblTransfer] ON 

INSERT [dbo].[tblTransfer] ([TransferId], [TransferNumber], [TransferDate], [Reference], [FromWarehouse], [ToWarehouse], [Attachment], [Details], [draft], [CreatedBy], [CreatedDate], [EditBy], [EditDate], [isActive]) VALUES (4, N'T-002', CAST(N'2022-05-30' AS Date), N'Ref', 1, 1, NULL, N'De', 0, 1, CAST(N'2022-05-30T16:07:41.123' AS DateTime), NULL, NULL, NULL)
INSERT [dbo].[tblTransfer] ([TransferId], [TransferNumber], [TransferDate], [Reference], [FromWarehouse], [ToWarehouse], [Attachment], [Details], [draft], [CreatedBy], [CreatedDate], [EditBy], [EditDate], [isActive]) VALUES (8, N'T-005', CAST(N'2022-06-01' AS Date), N'T-Ref', 1, 3, NULL, N'Details', 0, 1, CAST(N'2022-06-01T15:13:03.833' AS DateTime), NULL, NULL, NULL)
INSERT [dbo].[tblTransfer] ([TransferId], [TransferNumber], [TransferDate], [Reference], [FromWarehouse], [ToWarehouse], [Attachment], [Details], [draft], [CreatedBy], [CreatedDate], [EditBy], [EditDate], [isActive]) VALUES (9, N'T-009', CAST(N'2022-06-01' AS Date), N'Ref', 1, 3, NULL, N'Details', 0, 1, CAST(N'2022-06-01T15:37:16.830' AS DateTime), NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[tblTransfer] OFF
GO
SET IDENTITY_INSERT [dbo].[tblTransferItem] ON 

INSERT [dbo].[tblTransferItem] ([TransferItemId], [TransferId], [ItemId], [ItemWeight], [ItemQuantity], [ItemUnit], [CreatedBy], [CreatedDate], [EditBy], [EditDate], [isActive], [CheckinItemId], [ItemUsedQuantity], [ItemNetQuantity], [VNumber]) VALUES (23, 4, 1, NULL, 5, NULL, 1, CAST(N'2022-05-30T16:08:13.877' AS DateTime), NULL, NULL, NULL, 5, 3, 2, NULL)
INSERT [dbo].[tblTransferItem] ([TransferItemId], [TransferId], [ItemId], [ItemWeight], [ItemQuantity], [ItemUnit], [CreatedBy], [CreatedDate], [EditBy], [EditDate], [isActive], [CheckinItemId], [ItemUsedQuantity], [ItemNetQuantity], [VNumber]) VALUES (26, 8, 1, NULL, 5, NULL, 1, CAST(N'2022-06-01T15:13:03.860' AS DateTime), NULL, NULL, NULL, 4, 0, 5, N'CI-004')
INSERT [dbo].[tblTransferItem] ([TransferItemId], [TransferId], [ItemId], [ItemWeight], [ItemQuantity], [ItemUnit], [CreatedBy], [CreatedDate], [EditBy], [EditDate], [isActive], [CheckinItemId], [ItemUsedQuantity], [ItemNetQuantity], [VNumber]) VALUES (27, 9, 1, NULL, 4, NULL, 1, CAST(N'2022-06-01T15:37:16.887' AS DateTime), NULL, NULL, NULL, 3, 0, 4, N'CI-002')
SET IDENTITY_INSERT [dbo].[tblTransferItem] OFF
GO
SET IDENTITY_INSERT [dbo].[tblUnit] ON 

INSERT [dbo].[tblUnit] ([UnitId], [Name], [Code], [BaseUnit], [Operator], [OperationValue], [Formula], [CreatedBy], [CreatedDate], [EditBy], [EditDate], [isActive]) VALUES (1, N'A', N'dz', N'Piece (pc)', N'-', 11, N'Piece (pc) - 11= (dz)', 1, CAST(N'2022-05-20T00:00:00.000' AS DateTime), 1, CAST(N'2022-05-20T00:00:00.000' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[tblUnit] OFF
GO
SET IDENTITY_INSERT [dbo].[tblUser] ON 

INSERT [dbo].[tblUser] ([UserId], [Name], [Username], [Password], [Email], [Warehouse], [Phone], [RoleId], [CreatedBy], [CreatedDate], [EditBy], [EditDate], [isActive]) VALUES (1, N'Admin', N'admin', N'YWRtaW4=', N'admin@gmail.com', NULL, N'03000000000', 1, 1, NULL, 1, CAST(N'2022-06-03T00:00:00.000' AS DateTime), 1)
INSERT [dbo].[tblUser] ([UserId], [Name], [Username], [Password], [Email], [Warehouse], [Phone], [RoleId], [CreatedBy], [CreatedDate], [EditBy], [EditDate], [isActive]) VALUES (2, N'Asad', N'asadbilalarif', N'YXNhZA==', N'asad@gmail.com', NULL, N'03210000000', 2, 1, CAST(N'2022-05-19T00:00:00.000' AS DateTime), 1, CAST(N'2022-06-06T00:00:00.000' AS DateTime), 1)
INSERT [dbo].[tblUser] ([UserId], [Name], [Username], [Password], [Email], [Warehouse], [Phone], [RoleId], [CreatedBy], [CreatedDate], [EditBy], [EditDate], [isActive]) VALUES (4, N'Bilal', N'bilal', N'YmlsYWwx', N'bilal95007@gmail.com', NULL, N'03330000000', 1, 1, CAST(N'2022-05-20T00:00:00.000' AS DateTime), 1, CAST(N'2022-05-20T00:00:00.000' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[tblUser] OFF
GO
SET IDENTITY_INSERT [dbo].[tblUserWarehouse] ON 

INSERT [dbo].[tblUserWarehouse] ([UserWarehouseId], [UserId], [WarehouseId]) VALUES (1, 1, 1)
INSERT [dbo].[tblUserWarehouse] ([UserWarehouseId], [UserId], [WarehouseId]) VALUES (2, 1, 3)
INSERT [dbo].[tblUserWarehouse] ([UserWarehouseId], [UserId], [WarehouseId]) VALUES (4, 2, 1)
SET IDENTITY_INSERT [dbo].[tblUserWarehouse] OFF
GO
SET IDENTITY_INSERT [dbo].[tblWarehouse] ON 

INSERT [dbo].[tblWarehouse] ([WarehouseId], [Name], [Code], [Phone], [Email], [Logo], [Address], [CreatedBy], [CreatedDate], [EditBy], [EditDate], [isActive]) VALUES (1, N'Warehouse 1', N'100', N'03210000000', N'warehouse1@gmail.com', N'\Uploading\5f11c471f0f419303616a1fe.jpg', N'1', 1, CAST(N'2022-05-20T00:00:00.000' AS DateTime), 1, CAST(N'2022-05-20T00:00:00.000' AS DateTime), 1)
INSERT [dbo].[tblWarehouse] ([WarehouseId], [Name], [Code], [Phone], [Email], [Logo], [Address], [CreatedBy], [CreatedDate], [EditBy], [EditDate], [isActive]) VALUES (3, N'Warehouse 2', N'10002', N'03010000000', N'warehouse2@gmail.com', NULL, N'warehouse2 Lahore Pakistan', 1, CAST(N'2022-05-31T00:00:00.000' AS DateTime), 1, CAST(N'2022-05-31T00:00:00.000' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[tblWarehouse] OFF
GO
ALTER TABLE [dbo].[tblAccessLevel]  WITH CHECK ADD  CONSTRAINT [FK_AccessManu] FOREIGN KEY([MenuId])
REFERENCES [dbo].[tblMenu] ([MenuId])
GO
ALTER TABLE [dbo].[tblAccessLevel] CHECK CONSTRAINT [FK_AccessManu]
GO
ALTER TABLE [dbo].[tblAdjustment]  WITH CHECK ADD  CONSTRAINT [AdjustmentWarehouse] FOREIGN KEY([Warehouse])
REFERENCES [dbo].[tblWarehouse] ([WarehouseId])
GO
ALTER TABLE [dbo].[tblAdjustment] CHECK CONSTRAINT [AdjustmentWarehouse]
GO
ALTER TABLE [dbo].[tblAdjustmentItem]  WITH CHECK ADD  CONSTRAINT [AdjustmentAdjustment] FOREIGN KEY([AdjustmentId])
REFERENCES [dbo].[tblAdjustment] ([AdjustmentId])
GO
ALTER TABLE [dbo].[tblAdjustmentItem] CHECK CONSTRAINT [AdjustmentAdjustment]
GO
ALTER TABLE [dbo].[tblAdjustmentItem]  WITH CHECK ADD  CONSTRAINT [AdjustmentItem] FOREIGN KEY([ItemId])
REFERENCES [dbo].[tblItem] ([ItemId])
GO
ALTER TABLE [dbo].[tblAdjustmentItem] CHECK CONSTRAINT [AdjustmentItem]
GO
ALTER TABLE [dbo].[tblAlertQty]  WITH CHECK ADD  CONSTRAINT [FK_tblAlertQty_tblItem] FOREIGN KEY([ItemId])
REFERENCES [dbo].[tblItem] ([ItemId])
GO
ALTER TABLE [dbo].[tblAlertQty] CHECK CONSTRAINT [FK_tblAlertQty_tblItem]
GO
ALTER TABLE [dbo].[tblCheckin]  WITH CHECK ADD  CONSTRAINT [CheckinContact] FOREIGN KEY([Contact])
REFERENCES [dbo].[tblContact] ([ContactId])
GO
ALTER TABLE [dbo].[tblCheckin] CHECK CONSTRAINT [CheckinContact]
GO
ALTER TABLE [dbo].[tblCheckin]  WITH CHECK ADD  CONSTRAINT [CheckinWarehouse] FOREIGN KEY([Warehouse])
REFERENCES [dbo].[tblWarehouse] ([WarehouseId])
GO
ALTER TABLE [dbo].[tblCheckin] CHECK CONSTRAINT [CheckinWarehouse]
GO
ALTER TABLE [dbo].[tblCheckinItem]  WITH CHECK ADD  CONSTRAINT [CheckinCheckin] FOREIGN KEY([CheckinId])
REFERENCES [dbo].[tblCheckin] ([CheckinId])
GO
ALTER TABLE [dbo].[tblCheckinItem] CHECK CONSTRAINT [CheckinCheckin]
GO
ALTER TABLE [dbo].[tblCheckinItem]  WITH CHECK ADD  CONSTRAINT [CheckinItem] FOREIGN KEY([ItemId])
REFERENCES [dbo].[tblItem] ([ItemId])
GO
ALTER TABLE [dbo].[tblCheckinItem] CHECK CONSTRAINT [CheckinItem]
GO
ALTER TABLE [dbo].[tblCheckout]  WITH CHECK ADD  CONSTRAINT [CheckoutContact] FOREIGN KEY([Contact])
REFERENCES [dbo].[tblContact] ([ContactId])
GO
ALTER TABLE [dbo].[tblCheckout] CHECK CONSTRAINT [CheckoutContact]
GO
ALTER TABLE [dbo].[tblCheckout]  WITH CHECK ADD  CONSTRAINT [CheckoutWarehouse] FOREIGN KEY([Warehouse])
REFERENCES [dbo].[tblWarehouse] ([WarehouseId])
GO
ALTER TABLE [dbo].[tblCheckout] CHECK CONSTRAINT [CheckoutWarehouse]
GO
ALTER TABLE [dbo].[tblCheckoutItem]  WITH CHECK ADD  CONSTRAINT [CheckoutCheckout] FOREIGN KEY([CheckoutId])
REFERENCES [dbo].[tblCheckout] ([CheckoutId])
GO
ALTER TABLE [dbo].[tblCheckoutItem] CHECK CONSTRAINT [CheckoutCheckout]
GO
ALTER TABLE [dbo].[tblCheckoutItem]  WITH CHECK ADD  CONSTRAINT [CheckoutItem] FOREIGN KEY([ItemId])
REFERENCES [dbo].[tblItem] ([ItemId])
GO
ALTER TABLE [dbo].[tblCheckoutItem] CHECK CONSTRAINT [CheckoutItem]
GO
ALTER TABLE [dbo].[tblEmailSetting]  WITH CHECK ADD  CONSTRAINT [FK_tblEmailSetting_tblUser] FOREIGN KEY([EditBy])
REFERENCES [dbo].[tblUser] ([UserId])
GO
ALTER TABLE [dbo].[tblEmailSetting] CHECK CONSTRAINT [FK_tblEmailSetting_tblUser]
GO
ALTER TABLE [dbo].[tblItem]  WITH CHECK ADD  CONSTRAINT [ItemCategory] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[tblCategory] ([CategoryId])
GO
ALTER TABLE [dbo].[tblItem] CHECK CONSTRAINT [ItemCategory]
GO
ALTER TABLE [dbo].[tblTransfer]  WITH CHECK ADD  CONSTRAINT [TransferFromWarehouse] FOREIGN KEY([FromWarehouse])
REFERENCES [dbo].[tblWarehouse] ([WarehouseId])
GO
ALTER TABLE [dbo].[tblTransfer] CHECK CONSTRAINT [TransferFromWarehouse]
GO
ALTER TABLE [dbo].[tblTransfer]  WITH CHECK ADD  CONSTRAINT [TransferToWarehouse] FOREIGN KEY([ToWarehouse])
REFERENCES [dbo].[tblWarehouse] ([WarehouseId])
GO
ALTER TABLE [dbo].[tblTransfer] CHECK CONSTRAINT [TransferToWarehouse]
GO
ALTER TABLE [dbo].[tblTransferItem]  WITH CHECK ADD  CONSTRAINT [TransferItem] FOREIGN KEY([ItemId])
REFERENCES [dbo].[tblItem] ([ItemId])
GO
ALTER TABLE [dbo].[tblTransferItem] CHECK CONSTRAINT [TransferItem]
GO
ALTER TABLE [dbo].[tblTransferItem]  WITH CHECK ADD  CONSTRAINT [TransferTransfer] FOREIGN KEY([TransferId])
REFERENCES [dbo].[tblTransfer] ([TransferId])
GO
ALTER TABLE [dbo].[tblTransferItem] CHECK CONSTRAINT [TransferTransfer]
GO
ALTER TABLE [dbo].[tblUser]  WITH CHECK ADD  CONSTRAINT [FK_tblUser_tblRole] FOREIGN KEY([RoleId])
REFERENCES [dbo].[tblRole] ([RoleId])
GO
ALTER TABLE [dbo].[tblUser] CHECK CONSTRAINT [FK_tblUser_tblRole]
GO
ALTER TABLE [dbo].[tblUser]  WITH CHECK ADD  CONSTRAINT [FK_tblUser_tblWarehouse] FOREIGN KEY([Warehouse])
REFERENCES [dbo].[tblWarehouse] ([WarehouseId])
GO
ALTER TABLE [dbo].[tblUser] CHECK CONSTRAINT [FK_tblUser_tblWarehouse]
GO
ALTER TABLE [dbo].[tblUserWarehouse]  WITH CHECK ADD  CONSTRAINT [FK_tblUserWarehouse_tblUser] FOREIGN KEY([UserId])
REFERENCES [dbo].[tblUser] ([UserId])
GO
ALTER TABLE [dbo].[tblUserWarehouse] CHECK CONSTRAINT [FK_tblUserWarehouse_tblUser]
GO
ALTER TABLE [dbo].[tblUserWarehouse]  WITH CHECK ADD  CONSTRAINT [FK_tblUserWarehouse_tblWarehouse] FOREIGN KEY([WarehouseId])
REFERENCES [dbo].[tblWarehouse] ([WarehouseId])
GO
ALTER TABLE [dbo].[tblUserWarehouse] CHECK CONSTRAINT [FK_tblUserWarehouse_tblWarehouse]
GO
/****** Object:  StoredProcedure [dbo].[AdjustmentNumber]    Script Date: 10/06/2022 6:00:38 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[AdjustmentNumber]
AS
BEGIN

declare @ID as int
declare @res as nvarchar(12)
set @ID=0
SELECT @ID=AdjustmentId FROM tblAdjustment where AdjustmentId=(SELECT max(AdjustmentId) FROM tblAdjustment);
IF  @ID IS NOT NULL
		begin
			set @ID=@ID+1
			set @res=('A-00'+CAST(@ID as nvarchar(12)))
		end
		ELSE
		begin
			set @ID=1
			set @res=('A-00'+CAST(@ID as nvarchar(12)))
		end
	    select @res as Invoicenumber
END;
GO
/****** Object:  StoredProcedure [dbo].[AdjustmentReportData]    Script Date: 10/06/2022 6:00:38 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE Procedure [dbo].[AdjustmentReportData]
@searchValue varchar(Max)
As
begin
Declare @sql as nvarchar(Max);


--select DISTINCT AI.AdjustmentId as AdjustmentId1 ,A.*,W.Name as WarehouseName,U.Name as UserName from tblAdjustment as A 
--inner join tblAdjustmentItem AI on A.AdjustmentId=AI.AdjustmentId 
--inner join tblItem as I on AI.ItemId=I.ItemId 
--inner join tblWarehouse as W on A.Warehouse=W.WarehouseId inner join tblUser as U on A.CreatedBy=U.UserId


set @sql='select DISTINCT AI.AdjustmentId as AdjustmentId1 ,A.*,W.Name as WarehouseName,U.Name as UserName from tblAdjustment as A 
inner join tblAdjustmentItem AI on A.AdjustmentId=AI.AdjustmentId 
inner join tblItem as I on AI.ItemId=I.ItemId 
inner join tblWarehouse as W on A.Warehouse=W.WarehouseId inner join tblUser as U on A.CreatedBy=U.UserId
 '+@searchValue+''

exec (@sql)
end
GO
/****** Object:  StoredProcedure [dbo].[AdjustmentViewData]    Script Date: 10/06/2022 6:00:38 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE Procedure [dbo].[AdjustmentViewData]
@Id int
As
begin
Declare @sql as nvarchar(Max);


select  A.*,W.Name as WarehouseName,W.Address as WarehouseAddress,W.Email as WarehouseEmail,W.Phone as WarehousePhone
,I.Name as ItemName,I.Unit as ItemUnit,Cat.Name as ItemCategory,AI.ItemQuantity as ItemQuantity from tblAdjustment as A 
inner join tblAdjustmentItem AI on A.AdjustmentId=AI.AdjustmentId 
inner join tblItem as I on AI.ItemId=I.ItemId 
inner join tblWarehouse as W on A.Warehouse=W.WarehouseId
inner join tblCategory as Cat on Cat.CategoryId=I.CategoryId  where A.AdjustmentId=@Id;


exec (@sql)
end
GO
/****** Object:  StoredProcedure [dbo].[CheckinNumber]    Script Date: 10/06/2022 6:00:38 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[CheckinNumber]
AS
BEGIN

declare @ID as int
declare @res as nvarchar(12)
set @ID=0
SELECT @ID=CheckinId FROM tblCheckin where CheckinId=(SELECT max(CheckinId) FROM tblCheckin);
IF  @ID IS NOT NULL
		begin
			set @ID=@ID+1
			set @res=('CI-00'+CAST(@ID as nvarchar(12)))
		end
		ELSE
		begin
			set @ID=1
			set @res=('CI-00'+CAST(@ID as nvarchar(12)))
		end
	    select @res as Invoicenumber
END;
GO
/****** Object:  StoredProcedure [dbo].[CheckinReportData]    Script Date: 10/06/2022 6:00:38 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE Procedure [dbo].[CheckinReportData]
@searchValue varchar(Max)
As
begin
Declare @sql as nvarchar(Max);


--select DISTINCT CII.CheckintId ,CI.*,W.Name as WarehouseName,C.Name as ContactName,U.Name as UserName from tblCheckin as CI 
--inner join tblCheckinItem CII on CI.CheckinId=CII.CheckinId 
--inner join tblItem as I on CII.ItemId=I.ItemId inner join tblContact as C on CI.Contact=C.ContactId
--inner join tblWarehouse as W on CI.Warehouse=W.WarehouseId inner join tblUser as U on CI.CreatedBy=U.UserId


set @sql='select DISTINCT CII.CheckinId ,CI.*,W.Name as WarehouseName,C.Name as ContactName,U.Name as UserName from tblCheckin as CI 
inner join tblCheckinItem CII on CI.CheckinId=CII.CheckinId 
inner join tblItem as I on CII.ItemId=I.ItemId inner join tblContact as C on CI.Contact=C.ContactId
inner join tblWarehouse as W on CI.Warehouse=W.WarehouseId inner join tblUser as U on CI.CreatedBy=U.UserId
 '+@searchValue+''

exec (@sql)
end
GO
/****** Object:  StoredProcedure [dbo].[CheckinViewData]    Script Date: 10/06/2022 6:00:38 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE Procedure [dbo].[CheckinViewData]
@Id int
As
begin
Declare @sql as nvarchar(Max);


select  CI.*,W.Name as WarehouseName,W.Address as WarehouseAddress,W.Email as WarehouseEmail,W.Phone as WarehousePhone
,I.Name as ItemName,I.Unit as ItemUnit,Cat.Name as ItemCategory,CII.ItemQuantity as ItemQuantity,C.Name as ContactName,C.Email as ContactEmail,C.Phone as ContactPhone from tblCheckin as CI 
inner join tblCheckinItem CII on CI.CheckinId=CII.CheckinId 
inner join tblItem as I on CII.ItemId=I.ItemId 
inner join tblWarehouse as W on CI.Warehouse=W.WarehouseId 
inner join tblCategory as Cat on Cat.CategoryId=I.CategoryId 
inner join tblContact as C on C.ContactId=CI.Contact where CI.CheckinId=@Id;


exec (@sql)
end
GO
/****** Object:  StoredProcedure [dbo].[CheckoutNumber]    Script Date: 10/06/2022 6:00:38 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create PROCEDURE [dbo].[CheckoutNumber]
AS
BEGIN

declare @ID as int
declare @res as nvarchar(12)
set @ID=0
SELECT @ID=CheckoutId FROM tblCheckout where CheckoutId=(SELECT max(CheckoutId) FROM tblCheckout);
IF  @ID IS NOT NULL
		begin
			set @ID=@ID+1
			set @res=('CO-00'+CAST(@ID as nvarchar(12)))
		end
		ELSE
		begin
			set @ID=1
			set @res=('CO-00'+CAST(@ID as nvarchar(12)))
		end
	    select @res as Invoicenumber
END;
GO
/****** Object:  StoredProcedure [dbo].[CheckoutReportData]    Script Date: 10/06/2022 6:00:38 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE Procedure [dbo].[CheckoutReportData]
@searchValue varchar(Max)
As
begin
Declare @sql as nvarchar(Max);


--select DISTINCT COI.CheckoutId ,CO.*,W.Name as WarehouseName,C.Name as ContactName,U.Name as UserName from tblCheckout as CO 
--inner join tblCheckoutItem COI on CO.CheckoutId=COI.CheckoutId 
--inner join tblItem as I on COI.ItemId=I.ItemId inner join tblContact as C on CO.Contact=C.ContactId
--inner join tblWarehouse as W on CO.Warehouse=W.WarehouseId inner join tblUser as U on CO.CreatedBy=U.UserId


set @sql='select DISTINCT COI.CheckoutId ,CO.*,W.Name as WarehouseName,C.Name as ContactName,U.Name as UserName from tblCheckout as CO 
inner join tblCheckoutItem COI on CO.CheckoutId=COI.CheckoutId 
inner join tblItem as I on COI.ItemId=I.ItemId inner join tblContact as C on CO.Contact=C.ContactId
inner join tblWarehouse as W on CO.Warehouse=W.WarehouseId inner join tblUser as U on CO.CreatedBy=U.UserId
 '+@searchValue+''

exec (@sql)
end
GO
/****** Object:  StoredProcedure [dbo].[CheckoutViewData]    Script Date: 10/06/2022 6:00:38 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE Procedure [dbo].[CheckoutViewData]
@Id int
As
begin
Declare @sql as nvarchar(Max);


select  CO.*,W.Name as WarehouseName,W.Address as WarehouseAddress,W.Email as WarehouseEmail,W.Phone as WarehousePhone
,I.Name as ItemName,I.Unit as ItemUnit,Cat.Name as ItemCategory,COI.ItemQuantity as ItemQuantity,C.Name as ContactName,C.Email as ContactEmail,C.Phone as ContactPhone from tblCheckout as CO 
inner join tblCheckoutItem COI on CO.CheckoutId=COI.CheckoutId 
inner join tblItem as I on COI.ItemId=I.ItemId 
inner join tblWarehouse as W on CO.Warehouse=W.WarehouseId 
inner join tblCategory as Cat on Cat.CategoryId=I.CategoryId 
inner join tblContact as C on C.ContactId=CO.Contact where CO.CheckoutId=@Id;


exec (@sql)
end
GO
/****** Object:  StoredProcedure [dbo].[GetAdjustmentItemData]    Script Date: 10/06/2022 6:00:38 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE Procedure [dbo].[GetAdjustmentItemData]
@CheckinItemItemId int
As
begin
Declare @sql as nvarchar(Max);


select AI.ItemId,AI.AdjustmentItemId as FTailId,AI.ItemNetQuantity,I.Name,A.AdjustmentNumber as Number  from tblAdjustmentItem as AI inner join tblItem as I on AI.ItemId=I.ItemId
inner join tblAdjustment as A on A.AdjustmentId=AI.AdjustmentId
where AI.AdjustmentItemId=@CheckinItemItemId

end




GO
/****** Object:  StoredProcedure [dbo].[GetCheckinItemData]    Script Date: 10/06/2022 6:00:38 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE Procedure [dbo].[GetCheckinItemData]
@CheckinItemItemId int
As
begin
Declare @sql as nvarchar(Max);


select CII.ItemId,CII.CheckinItemId as FTailId,CII.ItemNetQuantity,I.Name,CI.CheckinNumber as Number from tblCheckinItem as CII inner join tblItem as I on CII.ItemId=I.ItemId
inner join tblCheckin as CI on CI.CheckinId=CII.CheckinId
where CII.CheckinItemId=@CheckinItemItemId

end




GO
/****** Object:  StoredProcedure [dbo].[GetCheckinList]    Script Date: 10/06/2022 6:00:38 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Procedure [dbo].[GetCheckinList]
@ItemId int,
@WarehouseId int
As
begin
Declare @sql as nvarchar(Max);


select CII.CheckinItemId as FTailId ,CI.CheckinNumber as Number,CII.ItemNetQuantity  from tblCheckinItem as CII inner join tblCheckin as CI on CII.CheckinId=CI.CheckinId
where CII.ItemId=@ItemId and CI.Warehouse=@WarehouseId and CII.ItemNetQuantity>0 and CI.draft=0
UNION
select TI.TransferItemId as FTailId,T.TransferNumber as Number,TI.ItemNetQuantity from tblTransferItem as TI inner join tblTransfer as T on TI.TransferId=T.TransferId
where TI.ItemId=@ItemId and T.FromWarehouse=@WarehouseId and TI.ItemNetQuantity>0 and T.draft=0
UNION
select AI.AdjustmentItemId as FTailId,A.AdjustmentNumber as Number,AI.ItemNetQuantity from tblAdjustmentItem as AI inner join tblAdjustment as A on AI.AdjustmentId=A.AdjustmentId
where AI.ItemId=@ItemId and A.Warehouse=@WarehouseId and AI.ItemNetQuantity>0 and A.draft=0

end




GO
/****** Object:  StoredProcedure [dbo].[GetItemAlertValue]    Script Date: 10/06/2022 6:00:38 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Procedure [dbo].[GetItemAlertValue]
@Id int,
@res int output
As
begin

set @res= (select Alertonlowstock from tblItem where ItemId=@Id)

select @res;
end

--exec GetItemAlertValue 1
GO
/****** Object:  StoredProcedure [dbo].[GetTCheckinList]    Script Date: 10/06/2022 6:00:38 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

create Procedure [dbo].[GetTCheckinList]
@ItemId int,
@WarehouseId int
As
begin
Declare @sql as nvarchar(Max);


select CII.CheckinItemId as FTailId ,CI.CheckinNumber as Number,CII.ItemNetQuantity  from tblCheckinItem as CII inner join tblCheckin as CI on CII.CheckinId=CI.CheckinId
where CII.ItemId=@ItemId and CI.Warehouse=@WarehouseId and CII.ItemNetQuantity>0 and CI.draft=0
UNION
select AI.AdjustmentItemId as FTailId,A.AdjustmentNumber as Number,AI.ItemNetQuantity from tblAdjustmentItem as AI inner join tblAdjustment as A on AI.AdjustmentId=A.AdjustmentId
where AI.ItemId=@ItemId and A.Warehouse=@WarehouseId and AI.ItemNetQuantity>0 and A.draft=0

end




GO
/****** Object:  StoredProcedure [dbo].[GetTransferItemData]    Script Date: 10/06/2022 6:00:38 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE Procedure [dbo].[GetTransferItemData]
@TransferItemId int
As
begin
Declare @sql as nvarchar(Max);


select TI.ItemId,TI.TransferItemId as FTailId,TI.ItemNetQuantity,I.Name,T.TransferNumber as Number from tblTransferItem as TI inner join tblItem as I on TI.ItemId=I.ItemId 
inner join tblTransfer as T on T.TransferId=TI.TransferId
where TI.TransferItemId=@TransferItemId

end






GO
/****** Object:  StoredProcedure [dbo].[ItemStockLedgerDetailReportData]    Script Date: 10/06/2022 6:00:38 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE Procedure [dbo].[ItemStockLedgerDetailReportData]
@ItemId int,
@WarehouseId int
As
begin



select CI.CheckinNumber as Number, I.ItemId as ItemId,W.WarehouseId as WarehouseId, Cat.Name as CategoryName,I.Name as ItemName,CII.ItemNetQuantity as ItemNetQuantity ,W.Name as WarehouseName from tblCheckin as CI 
inner join tblCheckinItem as CII on CI.CheckinId=CII.CheckinId inner join tblItem as I on CII.ItemId= I.ItemId 
inner join tblCategory as Cat on I.CategoryId=Cat.CategoryId inner join tblWarehouse as W on CI.Warehouse=W.WarehouseId where I.ItemId=@ItemId and W.WarehouseId=@WarehouseId

union

select T.TransferNumber as Number,I.ItemId as ItemId,W.WarehouseId as WarehouseId, Cat.Name as CategoryName,I.Name as ItemName,TI.ItemNetQuantity as ItemNetQuantity,W.Name as WarehouseName from tblTransfer as T 
inner join tblTransferItem as TI on T.TransferId=TI.TransferId inner join tblItem as I on TI.ItemId= I.ItemId 
inner join tblCategory as Cat on I.CategoryId=Cat.CategoryId inner join tblWarehouse as W on T.ToWarehouse=W.WarehouseId where I.ItemId=@ItemId and W.WarehouseId=@WarehouseId

union

select A.AdjustmentNumber as Number,I.ItemId as ItemId,W.WarehouseId as WarehouseId, Cat.Name as CategoryName,I.Name as ItemName,AI.ItemNetQuantity as ItemNetQuantity,W.Name as WarehouseName from tblAdjustment as A 
inner join tblAdjustmentItem as AI on A.AdjustmentId=AI.AdjustmentId inner join tblItem as I on AI.ItemId= I.ItemId 
inner join tblCategory as Cat on I.CategoryId=Cat.CategoryId inner join tblWarehouse as W on A.Warehouse=W.WarehouseId where I.ItemId=@ItemId and W.WarehouseId=@WarehouseId


end
GO
/****** Object:  StoredProcedure [dbo].[ItemStockLedgerReportData]    Script Date: 10/06/2022 6:00:38 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE Procedure [dbo].[ItemStockLedgerReportData]
@searchValue nvarchar(Max),
@TsearchValue nvarchar(Max),
@AsearchValue nvarchar(Max)
As
begin
Declare @sql as nvarchar(Max);

--select ItemId,WarehouseId,CategoryName,ItemName,sum(ItemNetQuantity) as TQty,WarehouseName from(

--select I.ItemId as ItemId,W.WarehouseId as WarehouseId, Cat.Name as CategoryName,I.Name as ItemName,CII.ItemNetQuantity as ItemNetQuantity ,W.Name as WarehouseName from tblCheckin as CI 
--inner join tblCheckinItem as CII on CI.CheckinId=CII.CheckinId inner join tblItem as I on CII.ItemId= I.ItemId 
--inner join tblCategory as Cat on I.CategoryId=Cat.CategoryId inner join tblWarehouse as W on CI.Warehouse=W.WarehouseId 

--union

--select I.ItemId as ItemId,W.WarehouseId as WarehouseId, Cat.Name as CategoryName,I.Name as ItemName,TI.ItemNetQuantity as ItemNetQuantity,W.Name as WarehouseName from tblTransfer as T 
--inner join tblTransferItem as TI on T.TransferId=TI.TransferId inner join tblItem as I on TI.ItemId= I.ItemId 
--inner join tblCategory as Cat on I.CategoryId=Cat.CategoryId inner join tblWarehouse as W on T.ToWarehouse=W.WarehouseId 

--union

--select I.ItemId as ItemId,W.WarehouseId as WarehouseId, Cat.Name as CategoryName,I.Name as ItemName,AI.ItemNetQuantity as ItemNetQuantity,W.Name as WarehouseName from tblAdjustment as A 
--inner join tblAdjustmentItem as AI on A.AdjustmentId=AI.AdjustmentId inner join tblItem as I on AI.ItemId= I.ItemId 
--inner join tblCategory as Cat on I.CategoryId=Cat.CategoryId inner join tblWarehouse as W on A.Warehouse=W.WarehouseId 
--) as Z group by ItemId,WarehouseId,CategoryName,ItemName,WarehouseName

set @sql='select ItemId,WarehouseId,CategoryName,ItemName,sum(ItemNetQuantity) as TQty,WarehouseName from(

select I.ItemId as ItemId,W.WarehouseId as WarehouseId, Cat.Name as CategoryName,I.Name as ItemName,CII.ItemNetQuantity as ItemNetQuantity ,W.Name as WarehouseName from tblCheckin as CI 
inner join tblCheckinItem as CII on CI.CheckinId=CII.CheckinId inner join tblItem as I on CII.ItemId= I.ItemId 
inner join tblCategory as Cat on I.CategoryId=Cat.CategoryId inner join tblWarehouse as W on CI.Warehouse=W.WarehouseId '+@searchValue+'

union

select I.ItemId as ItemId,W.WarehouseId as WarehouseId, Cat.Name as CategoryName,I.Name as ItemName,TI.ItemNetQuantity as ItemNetQuantity,W.Name as WarehouseName from tblTransfer as T 
inner join tblTransferItem as TI on T.TransferId=TI.TransferId inner join tblItem as I on TI.ItemId= I.ItemId 
inner join tblCategory as Cat on I.CategoryId=Cat.CategoryId inner join tblWarehouse as W on T.ToWarehouse=W.WarehouseId '+@TsearchValue+'

union

select I.ItemId as ItemId,W.WarehouseId as WarehouseId, Cat.Name as CategoryName,I.Name as ItemName,AI.ItemNetQuantity as ItemNetQuantity,W.Name as WarehouseName from tblAdjustment as A 
inner join tblAdjustmentItem as AI on A.AdjustmentId=AI.AdjustmentId inner join tblItem as I on AI.ItemId= I.ItemId 
inner join tblCategory as Cat on I.CategoryId=Cat.CategoryId inner join tblWarehouse as W on A.Warehouse=W.WarehouseId  '+@AsearchValue+'
) as Z group by ItemId,WarehouseId,CategoryName,ItemName,WarehouseName'

exec (@sql)
end
GO
/****** Object:  StoredProcedure [dbo].[ItemSumCalculate]    Script Date: 10/06/2022 6:00:38 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE Procedure [dbo].[ItemSumCalculate]
@Id int
As
begin

select sum(ItemNetQuantity) as TQty from(

select I.ItemId as ItemId, Cat.Name as CategoryName,I.Name as ItemName,CII.ItemNetQuantity as ItemNetQuantity from tblCheckin as CI 
inner join tblCheckinItem as CII on CI.CheckinId=CII.CheckinId inner join tblItem as I on CII.ItemId= I.ItemId 
inner join tblCategory as Cat on I.CategoryId=Cat.CategoryId  where I.ItemId=@Id

union

select I.ItemId as ItemId, Cat.Name as CategoryName,I.Name as ItemName,TI.ItemNetQuantity as ItemNetQuantity from tblTransfer as T 
inner join tblTransferItem as TI on T.TransferId=TI.TransferId inner join tblItem as I on TI.ItemId= I.ItemId 
inner join tblCategory as Cat on I.CategoryId=Cat.CategoryId  where I.ItemId=@Id

union

select I.ItemId as ItemId, Cat.Name as CategoryName,I.Name as ItemName,AI.ItemNetQuantity as ItemNetQuantity from tblAdjustment as A 
inner join tblAdjustmentItem as AI on A.AdjustmentId=AI.AdjustmentId inner join tblItem as I on AI.ItemId= I.ItemId 
inner join tblCategory as Cat on I.CategoryId=Cat.CategoryId  where I.ItemId=@Id
) as Z group by ItemId,CategoryName,ItemName


end
GO
/****** Object:  StoredProcedure [dbo].[TransferReportData]    Script Date: 10/06/2022 6:00:38 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE Procedure [dbo].[TransferReportData]
@searchValue varchar(Max)
As
begin
Declare @sql as nvarchar(Max);


--select DISTINCT TI.TransferId ,T.*,FW.Name as FromWarehouseName,TW.Name as ToWarehouseName,U.Name as UserName from tblTransfer as T 
--inner join tblTransferItem TI on T.TransferId=TI.TransferId 
--inner join tblItem as I on TI.ItemId=I.ItemId
--inner join tblWarehouse as FW on T.FromWarehouse=FW.WarehouseId 
--inner join tblWarehouse as TW on T.FromWarehouse=TW.WarehouseId
--inner join tblUser as U on T.CreatedBy=U.UserId


set @sql='select DISTINCT TI.TransferId ,T.*,FW.Name as FromWarehouseName,TW.Name as ToWarehouseName,U.Name as UserName from tblTransfer as T 
inner join tblTransferItem TI on T.TransferId=TI.TransferId 
inner join tblItem as I on TI.ItemId=I.ItemId
inner join tblWarehouse as FW on T.FromWarehouse=FW.WarehouseId 
inner join tblWarehouse as TW on T.FromWarehouse=TW.WarehouseId
inner join tblUser as U on T.CreatedBy=U.UserId
 '+@searchValue+''

exec (@sql)
end
GO
/****** Object:  StoredProcedure [dbo].[TransferViewData]    Script Date: 10/06/2022 6:00:38 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE Procedure [dbo].[TransferViewData]
@Id int
As
begin
Declare @sql as nvarchar(Max);


select  T.*,FW.Name as FWarehouseName,FW.Address as FWarehouseAddress,FW.Email as FWarehouseEmail,FW.Phone as FWarehousePhone
,TW.Name as TWarehouseName,TW.Address as TWarehouseAddress,TW.Email as TWarehouseEmail,TW.Phone as TWarehousePhone
,I.Name as ItemName,I.Unit as ItemUnit,Cat.Name as ItemCategory,TI.ItemQuantity as ItemQuantity from tblTransfer as T 
inner join tblTransferItem as TI on T.TransferId=TI.TransferId 
inner join tblItem as I on TI.ItemId=I.ItemId 
inner join tblWarehouse as FW on T.FromWarehouse=FW.WarehouseId 
inner join tblWarehouse as TW on TW.WarehouseId=T.ToWarehouse
inner join tblCategory as Cat on Cat.CategoryId=I.CategoryId  where T.TransferId=@Id;


exec (@sql)
end
GO
/****** Object:  StoredProcedure [dbo].[TransfrNumber]    Script Date: 10/06/2022 6:00:38 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
Create PROCEDURE [dbo].[TransfrNumber]
AS
BEGIN

declare @ID as int
declare @res as nvarchar(12)
set @ID=0
SELECT @ID=TransferId FROM tblTransfer where TransferId=(SELECT max(TransferId) FROM tblTransfer);
IF  @ID IS NOT NULL
		begin
			set @ID=@ID+1
			set @res=('T-00'+CAST(@ID as nvarchar(12)))
		end
		ELSE
		begin
			set @ID=1
			set @res=('T-00'+CAST(@ID as nvarchar(12)))
		end
	    select @res as Invoicenumber
END;
GO
/****** Object:  StoredProcedure [dbo].[WarehouseAccess]    Script Date: 10/06/2022 6:00:38 pm ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE Procedure [dbo].[WarehouseAccess]
@SearchValue nvarchar(max)
As
begin
Declare @sql as nvarchar(Max);


--select * from tblWarehouse where isActive=1 ;

set @sql='select * from tblWarehouse where isActive=1 
 '+@searchValue+''

exec (@sql)
end
GO
USE [master]
GO
